In [ ]:
import pandas as pd

test_list = [
    ['value', 1],
    ['another value', 2],
    ['third value', 3]
]

_columns = ['data 1', 'data2']

df = pd.DataFrame(data = test_list, columns = _columns)

print(df['data 1'] == 'value')

0     True
1    False
2    False
Name: data 1, dtype: bool

### Sprint 3: Capitulo 2.1 - Solucionar problemas con archivos CSV

In [13]:
import pandas as pd

data = pd.read_csv('C:\\Users\\Roberto Carlos\\source\\repos\\TripleTen_Data Science\\data_files\\letters_colors_decimals.csv',
                   sep = '$',
                   decimal = 'a')


print(data.head())

  letters  colors  decimals
0       a  yellow       1.2
1       b     red       1.3
2       c    cyan       1.4

### Sprint 3: Capitulo 2.2 - Cómo leer archivos Excel

In [13]:
import pandas as pd

data = pd.read_excel("E:\\datasets\\product_reviews.xlsx", sheet_name = ['reviews', 'reviewers'])

print(data)

{'reviews':             id reviewer_id  product_id  review
0   2546305677    cG441617  5003186430       3
1   2603422798    cH443811  7130698135       1
2   2598103631    bF100137  4023404310       4
3   2632674394    cF786880  7130698135       4
4   2594782880    aF649317  5003186430       5
..         ...         ...         ...     ...
95  2546555594    cG613933  8847800628       4
96  2622420412    bH854007  4023404310       1
97  2611054167    cG907457  5003186430       1
98  2584379264    cG907457  9741979309       4
99  2569437101    aF484180  2203505344       3

[100 rows x 4 columns], 'reviewers':           id date_joined  zipcode
0   aF195825  2012-06-21    91914
1   aF249047  2019-03-26    91915
2   aF362092  2012-01-05    91941
3   aF484180  2019-06-11    91941
4   aF539111  2011-03-04    92003
..       ...         ...      ...
75  cH723093  2016-08-18    92083
76  cH743487  2018-02-06    92083
77  cH777358  2014-01-22    92083
78  cH851609  2011-04-22    92083
79  cH988589  2014-02-21    92083

[80 rows x 3 columns]}

### Sprint 3: Capitulo 2.3 - Observación de los datos

In [12]:
import pandas as pd

df = pd.read_csv("E:\\datasets\\Driver_Details.csv")

print(df.head())
print()

sample = df.sample(3)
print(sample)
print()

print(df.shape)
print()

print(df.dtypes)
print()

print(df.columns)
print()

print(df.isnull().sum())
print()

print(df.notnull().sum())
print()

df.info()

   driverId   driverRef number code  forename     surname         dob  \
0         1    hamilton     44  HAM     Lewis    Hamilton  1985-01-07
1         2    heidfeld     \N  HEI      Nick    Heidfeld  1977-05-10
2         3     rosberg      6  ROS      Nico     Rosberg  1985-06-27
3         4      alonso     14  ALO  Fernando      Alonso  1981-07-29
4         5  kovalainen     \N  KOV    Heikki  Kovalainen  1981-10-19

  nationality                                             url
0     British     http://en.wikipedia.org/wiki/Lewis_Hamilton
1      German      http://en.wikipedia.org/wiki/Nick_Heidfeld
2      German       http://en.wikipedia.org/wiki/Nico_Rosberg
3     Spanish    http://en.wikipedia.org/wiki/Fernando_Alonso
4     Finnish  http://en.wikipedia.org/wiki/Heikki_Kovalainen

     driverId   driverRef number code forename     surname         dob  \
302       303  vonlanthen     \N   \N       Jo  Vonlanthen  1942-05-31
584       584     kessler     \N   \N    Bruce     Kessler  1936-03-23
15         16       sutil     99  SUT   Adrian       Sutil  1983-01-11

    nationality                                         url
302       Swiss  http://en.wikipedia.org/wiki/Jo_Vonlanthen
584    American  http://en.wikipedia.org/wiki/Bruce_Kessler
15       German   http://en.wikipedia.org/wiki/Adrian_Sutil

(859, 9)

driverId        int64
driverRef      object
number         object
code           object
forename       object
surname        object
dob            object
nationality    object
url            object
dtype: object

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'url'],
      dtype='object')

driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

driverId       859
driverRef      859
number         859
code           859
forename       859
surname        859
dob            859
nationality    859
url            859
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     859 non-null    int64
 1   driverRef    859 non-null    object
 2   number       859 non-null    object
 3   code         859 non-null    object
 4   forename     859 non-null    object
 5   surname      859 non-null    object
 6   dob          859 non-null    object
 7   nationality  859 non-null    object
 8   url          859 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.5+ KB

### Sprint 3: Capitulo 2.4 Descripciones numéricas y describe()

In [11]:
#Ejercicio 1

import pandas as pd

data = pd.read_csv("E:\\datasets\\Driver_Details.csv")

print(data.describe())
print()

print(data.describe(include = 'object'))
print()

print(data.describe(include = 'all'))

         driverId
count  859.000000
mean   430.059371
std    248.213115
min      1.000000
25%    215.500000
50%    430.000000
75%    644.500000
max    860.000000

       driverRef number code forename surname         dob nationality  \
count        859    859  859      859     859         859         859
unique       859     47   97      478     800         841          42
top      bearman     \N   \N     John  Taylor  1942-05-27     British
freq           1    802  757       14       5           2         166

                                                url
count                                           859
unique                                          859
top     http://en.wikipedia.org/wiki/Oliver_Bearman
freq                                              1

          driverId driverRef number code forename surname         dob  \
count   859.000000       859    859  859      859     859         859
unique         NaN       859     47   97      478     800         841
top            NaN   bearman     \N   \N     John  Taylor  1942-05-27
freq           NaN         1    802  757       14       5           2
mean    430.059371       NaN    NaN  NaN      NaN     NaN         NaN
std     248.213115       NaN    NaN  NaN      NaN     NaN         NaN
min       1.000000       NaN    NaN  NaN      NaN     NaN         NaN
25%     215.500000       NaN    NaN  NaN      NaN     NaN         NaN
50%     430.000000       NaN    NaN  NaN      NaN     NaN         NaN
75%     644.500000       NaN    NaN  NaN      NaN     NaN         NaN
max     860.000000       NaN    NaN  NaN      NaN     NaN         NaN

       nationality                                          url
count          859                                          859
unique          42                                          859
top        British  http://en.wikipedia.org/wiki/Oliver_Bearman
freq           166                                            1
mean           NaN                                          NaN
std            NaN                                          NaN
min            NaN                                          NaN
25%            NaN                                          NaN
50%            NaN                                          NaN
75%            NaN                                          NaN
max            NaN                                          NaN

In [10]:
#Ejercicio 2

import pandas as pd

data = pd.read_csv("E:\\datasets\\Driver_Details.csv")

print(data["nationality"].describe())

count         859
unique         42
top       British
freq          166
Name: nationality, dtype: object

### Sprint 3: Capitulo 3.1 - Problemas con los datos: entra basura, sale basura

In [ ]:
# Sin actividad practica

### Sprint 3: Capitulo 3.2 - Renombrar columnas

In [9]:
import pandas as pd

df = pd.read_csv('E:\\datasets\\music_log_raw.csv')

print('Old columns names:')
print(df.columns)
print()

new_col_names = []

for old_name in df.columns:
    new_name = old_name.strip().lower().replace(' ','_')
    new_col_names.append(new_name)

df.columns = new_col_names

print('New columns names:')
print(df.columns)

Old columns names:
Index(['  user_id', 'total play', 'Artist', 'genre', 'track'], dtype='object')

New columns names:
Index(['user_id', 'total_play', 'artist', 'genre', 'track'], dtype='object')

### Sprint 3: Capitulo 3.3 - Procesar valores ausentes

In [8]:
#Ejercicios guiados

import pandas as pd

df = pd.read_csv('E:\\datasets\\music_log_raw.csv')

mis_val = df.isna().sum()
print(mis_val)
print()

columns_to_replace = ['genre', 'Artist', 'track']

for col in columns_to_replace:
	df[col].fillna('no_info', inplace = True)
	
mis_val = df.isna().sum()
print(mis_val)
print()

df['total play'].fillna(0, inplace = True)
mis_val = df.isna().sum()
print(mis_val)
print()

df.dropna(subset = ['total play'], inplace = True)
mis_val = df.isna().sum()
print(mis_val)
print()

  user_id        0
total play     564
Artist        8317
genre         3302
track         3159
dtype: int64

  user_id       0
total play    564
Artist          0
genre           0
track           0
dtype: int64

  user_id     0
total play    0
Artist        0
genre         0
track         0
dtype: int64

  user_id     0
total play    0
Artist        0
genre         0
track         0
dtype: int64

C:\Users\Roberto Carlos\AppData\Local\Temp\ipykernel_28992\3303790339.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('no_info', inplace = True)
C:\Users\Roberto Carlos\AppData\Local\Temp\ipykernel_28992\3303790339.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total play'].fillna(0, inplace = True)

In [5]:
#Ejercicio 1

import pandas as pd

data = {
    'well_id': ['W1', 'W2', 'W3', 'W4', 'W5', 'W6'],
    'production_date': ['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-02'],
    'oil_volume': [100, None, 200, 300, None, None],
    'gas_volume': [1000, 800, 950, 1100, 850, 900],
    'region': ['North', 'North', 'South', 'South', 'West', 'West'],
    'status': ['active', None, 'active', 'inactive', None, 'active']
}

df = pd.DataFrame(data)
print(df.isna().sum())
print()

#df['oil_volume'].fillna(0, inplace = True)
#df['status'].fillna('unknown', inplace = True)

df['oil_volume'] = df['oil_volume'].fillna(0)
df['status'] = df['status'].fillna('unknown')
print(df.isna().sum())

well_id            0
production_date    0
oil_volume         3
gas_volume         0
region             0
status             2
dtype: int64

well_id            0
production_date    0
oil_volume         0
gas_volume         0
region             0
status             0
dtype: int64

In [ ]:
#Ejercicio 2

import pandas as pd

data = {
    'well_id': ['W1', 'W2', 'W3', 'W4', 'W5', 'W6'],
    'production_date': ['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-02'],
    'oil_volume': [100, None, 200, 300, None, None],
    'gas_volume': [1000, 800, 950, 1100, 850, 900],
    'region': ['North', 'North', 'South', 'South', 'West', 'West'],
    'status': ['active', None, 'active', 'inactive', None, 'active']
}

df= pd.DataFrame(data)

print("Valores ausentes antes de la eliminación:")
print(df.isna().sum())
print()
print(df['oil_volume'].isna().sum())
print()

df = df.dropna(subset = ['oil_volume'])

print("Valores ausentes después de la eliminación:")
print(df.isna().sum())
print()

print("Columnas restantes:")
print(df.columns)

### Sprint 3: Capitulo 3.4 - Procesamiento de valores duplicados

In [7]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Roberto Carlos\\source\\repos\\TripleTen_Data Science\\data_files\\music_log_raw.csv')

print(df.duplicated().sum())
print()

print(df[' user_id'].unique())
print(df[' user_id'].nunique())
print()
print(df['genre'].unique())
print(df['genre'].nunique())
print()
print(df.nunique())

df = df.drop_duplicates().reset_index(drop = True)
print(df.duplicated().sum())

print(df.head())

1

['BF6EA5AF' 'FB1E568E' 'EF15C7BA' '82F52E69' '4166D680' 'F4F5677'
 '386FE1ED' 'A5E0D927' 'E9E8A0CA' 'D3DD8D00' 'FD36A727' '8.18E+51'
 '2ABCF7B8' 'BDBE1D12' '508D6212']
15

['pop' 'ambient' 'dance' 'jazz' 'classicmetal' 'electronic' 'indie' nan]
7

 user_id      15
total play    14
Artist        12
genre          7
track          9
dtype: int64
0
    user_id  total play                                  Artist    genre  \
0  BF6EA5AF   92.851388                              Marina Rei      pop
1  FB1E568E  282.981000                            Stive Morgan  ambient
2  EF15C7BA    8.966000                                     NaN    dance
3  82F52E69  193.776327                                  Rixton      pop
4  4166D680    3.007000  Henry Hall & His Gleneagles Hotel Band     jazz

                    track
0                  Musica
1             Love Planet
2     Loving Every Minute
3  Me And My Broken Heart
4                    Home

In [ ]:
import pandas as pd

rating = ['date', 'name', 'points']
players = [
        ['2018.01.01',  'Rafael Nadal', 10645],
                ['2018.01.08',  'Rafael Nadal', 10600],
                ['2018.01.29',  'Rafael Nadal', 9760],
                ['2018.02.19',  'Roger Federer', 10105], 
                ['2018.03.05',  'Roger Federer', 10060],
                ['2018.03.19',  'Roger Federerr', 9660],
                ['2018.04.02',  'Rafael Nadal Parera', 8770],
                ['2018.06.18',  'Roger Fedrer', 8920],
                ['2018.06.25',  'Rafael Nadal Parera', 8770],
                ['2018.07.16',  'Rafael Nadal Parera', 9310],
                ['2018.08.13',  'Rafael Nadal Parera', 10220],
                ['2018.08.20',  'Rafael Nadal Parera', 10040],
                ['2018.09.10',  'Rafael Nadal Parera', 8760],
                ['2018.10.08',  'Rafael Nadal Parera', 8260],
                ['2018.10.15',  'Rafael Nadal Parera', 7660],
                ['2018.11.05',  'Novak Djokovic', 8045],
                ['2018.11.19',  'Novak Djokovic', 9045]
]
tennis = pd.DataFrame(data=players, columns=rating)
print(tennis)
print()
print('-'*50)

def replace_wrong_names(df, column, wrong_values, correct_value):
    for wrong_value in wrong_values:
        df[column] = df[column].replace(wrong_value, correct_value)
    return df


duplicates = ['Roger Federerr', 'Roger Fedrer']
name = 'Roger Federer'
tennis = replace_wrong_names(tennis,'name',duplicates, name)
print(tennis)

In [5]:
import pandas as pd

df = pd.read_csv('E:\\datasets\\music_log_raw.csv')

# Definir una función para corregir duplicados implícitos
def corregir_duplicados_implicitos(df, columna, correcciones):
    for key, value in correcciones.items():
        df[columna] = df[columna].replace(key, value)

    return df

# Diccionario con correcciones para la columna 'genre'
correcciones_genre = {
    "hard-n-heavy": "hard'n'heavy",
    "ranchera": "rancheras"
}

# Aplicar la función para corregir los duplicados en la columna 'genre'
df_corregido = corregir_duplicados_implicitos(df, 'genre', correcciones_genre)

# Validación
géneros_únicos = df['genre'].dropna().unique()
filtros = [g for g in géneros_únicos if g.startswith('har') or g.startswith('ran')]

# Imprimir el resultado
print(filtros)

["hard'n'heavy", 'hardcore', 'rancheras', 'hardstyle', 'hardtrance']

In [ ]:
#Ejercicio 1 y 2
#Se necesita descargar steam-200k.csv

### Sprint 3: Capitulo 3.5 - Agrupación de datos

In [4]:
import pandas as pd

df = pd.read_csv('E:\\datasets\\music_log_processed.csv')

genre_groups = df.groupby('genre')['genre'].count()# escribe tu código aquí

print(genre_groups)

genre_groups = df.groupby('genre')['total_play'].sum()

print(genre_groups)

genre
acapella        1
acid            2
acoustic        2
action          3
adult          26
               ..
worldmusic      1
wort            4
yoga            3
şiir            1
электроника     2
Name: genre, Length: 305, dtype: int64
genre
acapella        355.000000
acid            484.922000
acoustic        240.348163
action          511.903586
adult          2301.923250
                  ...
worldmusic       20.000000
wort            117.139871
yoga            307.177143
şiir              2.043000
электроника       1.009000
Name: total_play, Length: 305, dtype: float64

In [3]:
import pandas as pd

# Cargar el archivo CSV
digimon_data = pd.read_csv('E:\\datasets\\DigiDB_digimonlist.csv')

print(digimon_data.columns)
# Agrupar los datos
grouped_stage_count =  digimon_data.groupby('Stage')['Digimon'].count()
grouped_stage_sum =  digimon_data.groupby('Stage')['Lv 50 HP'].sum()

grouped_spd_sum = digimon_data.groupby('Stage')['Lv50 Spd'].sum()
grouped_spd_count = digimon_data.groupby('Stage')['Lv50 Spd'].count()
grouped_stage_mean = grouped_spd_sum / grouped_spd_count

# Mostrar los resultados
print('Distribución de los Digimons', '\n',grouped_stage_count,'\n')
print('Total de Salud', '\n',grouped_stage_sum, '\n',)
print('Promedio Nivel de Velocidad', '\n',grouped_stage_mean)

Index(['Number', 'Digimon', 'Stage', 'Type', 'Attribute', 'Memory',
       'Equip Slots', 'Lv 50 HP', 'Lv50 SP', 'Lv50 Atk', 'Lv50 Def',
       'Lv50 Int', 'Lv50 Spd'],
      dtype='object')
Distribución de los Digimons
 Stage
Armor           3
Baby            5
Champion       54
In-Training    11
Mega           74
Rookie         38
Ultimate       58
Ultra           6
Name: Digimon, dtype: int64

Total de Salud
 Stage
Armor            3510
Baby             3640
Champion        58700
In-Training      9290
Mega           107700
Rookie          34980
Ultimate        74640
Ultra            9050
Name: Lv 50 HP, dtype: int64

Promedio Nivel de Velocidad
 Stage
Armor          128.666667
Baby            77.000000
Champion       103.259259
In-Training     81.181818
Mega           152.486486
Rookie          90.236842
Ultimate       122.586207
Ultra          152.833333
Name: Lv50 Spd, dtype: float64

### Sprint 3: Capitulo 3.6 - Ordenar datos

In [2]:
import pandas as pd

df = pd.read_csv('E:\\datasets\\music_log_processed.csv')

df_ordenado = df.sort_values(by = 'user_id', ascending = False)

print(df_ordenado.head(10))

metal_ordenado = df[df['genre'] == 'metal']
metal_ordenado = metal_ordenado.sort_values(by = 'total_play', ascending = False)
#.sort_values(by = 'total_play', ascending = False)

print(metal_ordenado.head(10))

ordenado = df.sort_values(by = 'total_play', ascending = False)

print(ordenado['genre'].head(10))

time_by_genre = df.groupby('genre')['total_play'].sum()

time_by_genre_sort = time_by_genre.sort_values(ascending = False)

print(time_by_genre_sort.head(10))

        user_id  total_play                     artist        genre  \
52074  FFFD927C  125.330000                     Evoken        metal
48101  FFFC49ED   55.963000  Dj Nagual - Igor Borozdin        dance
9468   FFFAC306    0.000000             Fabio Borgazzi         jazz
57607  FFF8E0D3    3.553000                    no_info       ruspop
14726  FFF8D7EB    0.100000                 Quang Dung        world
11013  FFF67553  244.064000         Hentai Corporation         rock
22774  FFF4B04E  265.357000                       Noro          pop
21084  FFF380C1    1.000000          The East Pointers       celtic
58791  FFF2DD26    0.000000         Beware Of Darkness  alternative
52377  FFF1D41B   43.990204                  Grupo Sol        latin

                       track
52074   Of Purest Absolution
48101          Stars with us
9468         Samantha's Lips
57607      Я не могу сказать
14726      Dong Song Lo Dang
11013         Neurol Machine
22774                Mi Anun
21084   Queen Street Cobbler
58791         All Who Remain
52377  Happy Birthday To You
        user_id  total_play                   artist  genre  \
29939  ECE08CF4  691.957551                     Saor  metal
59913  D3174BD4  630.000000   The Flight Of Sleipnir  metal
16661  BDDAE2C0  589.183000  Suffocate for Fuck Sake  metal
37515  FEE3DC73  571.297959                  Somnuri  metal
49162  4015B412  540.682000                Norrsinnt  metal
27512  324A1234  537.521633       Scrambled Defuncts  metal
45211  528A6ECD  531.095000                    Lethe  metal
4546   358509C7  528.230000                   Magion  metal
35014  345DFD74  507.773000                  Malnatt  metal
8511   3F3D707F  498.000000            White Wizzard  metal

                                 track
29939                        Guardians
59913                           Awaken
16661                     33 Years Ago
37515                            Sheep
49162                        Skogsmakt
27512                      Retribution
45211  Therefore Let Us Feed the Beast
4546                   Lost in Reality
35014                  Ulver Nostalgia
8511                     Critical Mass
8895        no_info
22764         world
18217       ambient
40854       ambient
34922           new
26143       ambient
20208           new
32905    avantgarde
18183       ambient
12455          jazz
Name: genre, dtype: object
genre
dance          731069.475673
pop            727425.542459
electronic     679635.298107
rock           630434.772021
hiphop         297112.321237
classical      271098.177081
world          256630.643956
jazz           213871.653640
alternative    170130.211929
metal          154435.488092
Name: total_play, dtype: float64

### Sprint 3: Capitulo 4.1 - Contar valores ausentes

In [2]:
#Ejercicio 1

import pandas as pd

df_logs = pd.read_csv('E:\\datasets\\visit_log.csv')

df_logs.info()
print(df_logs.isna().sum())
print()
print(df_logs['source'].value_counts(dropna = False))
print()
email_values = df_logs['email'].value_counts()
print(email_values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB
user_id          0
source        1674
email       186047
purchase         0
dtype: int64

source
other      133834
context     52032
email       12279
NaN          1674
undef         181
Name: count, dtype: int64

email
410a2a3c23    9
4526cc437a    9
17c4fb26f9    8
33f8a3d521    7
5a4c033120    7
             ..
6d5069d25d    1
9be4dcaf96    1
e0ddbe4106    1
d2f5ea92fa    1
456e4d4d7c    1
Name: count, Length: 6062, dtype: int64

### Sprint 3: Capitulo 4.2 - Filtrar DataFrames por valores ausentes

In [26]:
import pandas as pd

df_logs = pd.read_csv('E:\\datasets\\visit_log.csv')

print(df_logs[~df_logs['source'].isna()]) #~invierte los valores True a False y viceversa

print(df_logs[(~df_logs['email'].isna()) & (df_logs['source'] == 'email')])

           user_id   source       email  purchase
0       7141786820    other         NaN         0
1       5644686960    email  c129aa540a         0
2       1914055396  context         NaN         0
3       4099355752    other         NaN         0
4       6032477554  context         NaN         1
...            ...      ...         ...       ...
199995  8714621942    other         NaN         0
199996  6064948744  context         NaN         1
199997  9210683879  context         NaN         0
199998  1629959686    other         NaN         1
199999  2089329795    other         NaN         0

[198326 rows x 4 columns]
           user_id source       email  purchase
1       5644686960  email  c129aa540a         0
11      8623045648  email  d6d19c571c         0
18      5739438900  email  19379ee49c         0
19      7486955288  email  09c27794fa         0
33      7298923004  email  1fe184ed73         0
...            ...    ...         ...       ...
199922  4075894991  email  2c9a202435         0
199958  9794381984  email  85712b433a         0
199970  3396355438  email  4bba3fde78         0
199979  5008169696  email  e5128e15fd         0
199989  9470921783  email  3977de6aaa         0

[12279 rows x 4 columns]

In [29]:
#Ejercicio 1

import pandas as pd

df_logs = pd.read_csv('E:\\datasets\\visit_log.csv')

df_emails = df_logs[~df_logs['email'].isna()]

print(df_emails.head(10))

#Ejercicio 2
print()

df_emails = df_logs[(df_logs['email'].isna()) & (df_logs['source'].isna())]

print(df_emails)

       user_id source       email  purchase
1   5644686960  email  c129aa540a         0
11  8623045648  email  d6d19c571c         0
18  5739438900  email  19379ee49c         0
19  7486955288  email  09c27794fa         0
22  1397217221    NaN  79ac569f0b         0
33  7298923004  email  1fe184ed73         0
43  6034222291  email  fb58a27f03         0
49  5062457902    NaN  9ddce3a861         0
56  5690036640  email  a088a48182         0
66  9963049355  email  9cc43ebd15         0

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []