In [2]:
### Carga de datos
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

data = pd.read_csv('E:/datasets/travel_insurance_us.csv')

data.head(10)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,JZI,Airlines,Online,Value Plan,0,12,"TAIWAN, PROVINCE OF CHINA",45.0,15.75,M,39
1,EPX,Travel Agency,Online,Cancellation Plan,0,50,JAPAN,22.0,0.00,NaN,36
2,EPX,Travel Agency,Online,Cancellation Plan,0,251,BRAZIL,80.0,0.00,NaN,36
3,EPX,Travel Agency,Online,Cancellation Plan,0,6,INDIA,-10.0,0.00,NaN,36
4,JZI,Airlines,Online,Value Plan,0,5,CHINA,45.0,15.75,M,34
5,EPX,Travel Agency,Online,Cancellation Plan,0,16,GHANA,80.0,0.00,NaN,36
6,C2B,Airlines,Online,Silver Plan,0,22,SINGAPORE,144.0,36.00,F,37
7,EPX,Travel Agency,Online,Cancellation Plan,0,4,CHINA,10.0,0.00,NaN,26
8,EPX,Travel Agency,Online,Cancellation Plan,0,104,CHINA,25.0,0.00,NaN,36
9,EPX,Travel Agency,Online,2 way Comprehensive Plan,0,57,MYANMAR,95.0,0.00,NaN,35

In [3]:
train, valid = train_test_split(data, test_size=0.25, random_state=12345)

features_train = train.drop(['Claim'], axis=1)
features_valid = valid.drop(['Claim'], axis=1)

target_train = train['Claim']
target_valid = valid['Claim']

print(features_train.shape)
print(features_valid.shape)
print()
print(len(train)+len(valid) == len(data))
print(len(valid) == len(data)*0.25)

(37995, 10)
(12665, 10)

True
True

In [4]:
### Entrenamiento de pilotos
### Entrenar modelo usando datos sin procesar

model = LogisticRegression()
model.fit(features_train, target_train)

ValueError: could not convert string to float: 'EPX'

In [ ]:
data.dtypes

Agency                    object
Agency Type               object
Distribution Channel      object
Product Name              object
Claim                      int64
Duration                   int64
Destination               object
Net Sales                float64
Commission (in value)    float64
Gender                    object
Age                        int64
dtype: object

In [ ]:
data['Gender'].head()

0       M
1    None
2    None
3    None
4       M
Name: Gender, dtype: object

In [ ]:
### Codificación One-Hot
### Existe una técnica especial para transformar características categóricas en numéricas. Se llama One-Hot Encoding (OHE).

gender = pd.get_dummies(data['Gender'])

gender.head()

   F  M  None
0  0  1     0
1  0  0     1
2  0  0     1
3  0  0     1
4  0  1     0

In [ ]:
### Evitar la trampa dummy

gender = pd.get_dummies(data['Gender'], drop_first=True)

gender.head()

   M  None
0  1     0
1  0     1
2  0     1
3  0     1
4  1     0

In [ ]:
data_ohe = pd.get_dummies(data, drop_first=True)

data_ohe.head()

,Claim,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,...,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M,Gender_None
0,0,12,45.0,15.75,39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,50,22.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,251,80.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,6,-10.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,5,45.0,15.75,34,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
target = data_ohe['Claim']
features = data_ohe.drop('Claim', axis=1)

features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

model = LogisticRegression(random_state=12345, solver='liblinear')
model.fit(features_train, target_train)